# Assignment No. 2

In [23]:
import pandas as pd
import os
import numpy as np
os.getcwd()

'/workspaces/DS-3021/02_function_basics'

## Question 1:

### What is the biggest factor relating to obesity?

In [24]:
obesity = pd.read_csv("/workspaces/DS-3021/data/ObesityDataSet-1.csv")
print(obesity.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB
None

### Pseudocode:
- rename and reorganize NObeyesdad 
- group by obesity levels
- calculate average weight per obesity level
- Split Gender column into total number men and women per category
- count percent w family history per category
- count percent smokers per category

### Code

In [25]:
obesity = obesity.drop(columns=['NCP'])
obesity.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [26]:
#change obesity to categorical
obesity['NObeyesdad'] = obesity['NObeyesdad'].astype("category")
obesity = obesity.rename(columns={'NObeyesdad': 'Obesity_Level'})
obesity.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity_Level
0,Female,21.0,1.62,64.0,yes,no,2.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [27]:
#change yes/no variables to 1s and 0s
obesity['family_history_with_overweight'] = obesity['family_history_with_overweight'].replace({'yes':1,'no':0})

obesity['SMOKE'] = obesity['SMOKE'].replace({'yes':1,'no':0})

#Change gender to 1 = man 0 = woman
obesity['Gender'] = obesity['Gender'].replace({'Male':1,'Female':0})

obesity.head()

/tmp/ipykernel_841/4037670572.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  obesity['family_history_with_overweight'] = obesity['family_history_with_overweight'].replace({'yes':1,'no':0})
/tmp/ipykernel_841/4037670572.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  obesity['SMOKE'] = obesity['SMOKE'].replace({'yes':1,'no':0})
/tmp/ipykernel_841/4037670572.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  obesity['Gender'] = obesity['Gender'].replace({'Male':1,'Female':0})

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity_Level
0,0,21.0,1.62,64.0,1,no,2.0,Sometimes,0,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,0,21.0,1.52,56.0,1,no,3.0,Sometimes,1,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,1,23.0,1.80,77.0,1,no,2.0,Sometimes,0,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,1,27.0,1.80,87.0,0,no,3.0,Sometimes,0,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,1,22.0,1.78,89.8,0,no,2.0,Sometimes,0,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [28]:
obesity1 = obesity.groupby(['Obesity_Level'])

obesity1.head()

/tmp/ipykernel_841/3632822675.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  obesity1 = obesity.groupby(['Obesity_Level'])

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity_Level
0,0,21.000000,1.620000,64.000000,1,no,2.0,Sometimes,0,2.000000,no,0.000000,1.0,no,Public_Transportation,Normal_Weight
1,0,21.000000,1.520000,56.000000,1,no,3.0,Sometimes,1,3.000000,yes,3.000000,0.0,Sometimes,Public_Transportation,Normal_Weight
2,1,23.000000,1.800000,77.000000,1,no,2.0,Sometimes,0,2.000000,no,2.000000,1.0,Frequently,Public_Transportation,Normal_Weight
3,1,27.000000,1.800000,87.000000,0,no,3.0,Sometimes,0,2.000000,no,2.000000,0.0,Frequently,Walking,Overweight_Level_I
4,1,22.000000,1.780000,89.800000,0,no,2.0,Sometimes,0,2.000000,no,0.000000,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,1,29.000000,1.620000,53.000000,0,yes,2.0,Sometimes,0,2.000000,no,0.000000,0.0,Sometimes,Automobile,Normal_Weight
6,0,23.000000,1.500000,55.000000,1,yes,3.0,Sometimes,0,2.000000,no,1.000000,0.0,Sometimes,Motorbike,Normal_Weight
10,1,26.000000,1.850000,105.000000,1,yes,3.0,Frequently,0,3.000000,no,2.000000,2.0,Sometimes,Public_Transportation,Obesity_Type_I
11,0,21.000000,1.720000,80.000000,1,yes,2.0,Frequently,0,2.000000,yes,2.000000,1.0,Sometimes,Public_Transportation,Overweight_Level_II
13,1,41.000000,1.800000,99.000000,0,yes,2.0,Sometimes,0,2.000000,no,2.000000,1.0,Frequently,Automobile,Obesity_Type_I
16,1,27.000000,1.930000,102.000000,1,yes,2.0,Sometimes,0,1.000000,no,1.000000,0.0,Sometimes,Public_Transportation,Overweight_Level_II
17,0,29.000000,1.530000,78.000000,0,yes,2.0,Sometimes,0,2.000000,no,0.000000,0.0,no,Automobile,Obesity_Type_I
18,0,30.000000,1.710000,82.000000,1,yes,3.0,Frequently,1,1.000000,no,0.000000,0.0,no,Automobile,Overweight_Level_II
19,0,23.000000,1.650000,70.000000,1,no,2.0,Sometimes,0,2.000000,no,0.000000,0.0,Sometimes,Public_Transportation,Overweight_Level_I
20,1,22.000000,1.650000,80.000000,1,no,2.0,Sometimes,0,2.000000,no,3.000000,2.0,no,Walking,Overweight_Level_II
21,0,52.000000,1.690000,87.000000,1,yes,3.0,Sometimes,1,2.000000,no,0.000000,0.0,no,Automobile,Obesity_Type_I
23,0,22.000000,1.600000,82.000000,1,yes,1.0,Sometimes,0,2.000000,no,0.000000,2.0,Sometimes,Public_Transportation,Obesity_Type_I
30,1,29.000000,1.770000,83.000000,0,yes,1.0,Frequently,0,3.000000,no,0.000000,1.0,no,Motorbike,Overweight_Level_I
40,0,21.000000,1.670000,75.000000,1,yes,2.0,Sometimes,0,2.000000,no,1.000000,0.0,Sometimes,Public_Transportation,Overweight_Level_I
59,1,20.000000,1.760000,55.000000,1,yes,2.0,Sometimes,0,3.000000,no,2.000000,2.0,no,Public_Transportation,Insufficient_Weight
65,0,21.000000,1.620000,69.000000,1,yes,1.0,Frequently,0,2.000000,no,0.000000,1.0,no,Public_Transportation,Overweight_Level_I
68,1,30.000000,1.760000,112.000000,1,yes,1.0,no,1,2.000000,yes,0.000000,0.0,Frequently,Automobile,Obesity_Type_II
71,0,22.000000,1.670000,50.000000,1,no,3.0,no,0,3.000000,yes,2.000000,1.0,Sometimes,Public_Transportation,Insufficient_Weight
75,0,23.000000,1.630000,45.000000,1,no,3.0,Sometimes,0,3.000000,yes,2.000000,0.0,no,Public_Transportation,Insufficient_Weight
76,0,24.000000,1.600000,45.000000,1,no,2.0,no,0,2.000000,no,1.000000,0.0,no,Public_Transportation,Insufficient_Weight
83,0,19.000000,1.600000,45.000000,0,no,3.0,no,0,3.000000,yes,2.000000,0.0,no,Walking,Insufficient_Weight
90,0,25.000000,1.630000,93.000000,0,no,3.0,Always,0,1.000000,no,2.000000,0.0,no,Public_Transportation,Obesity_Type_II
165,1,30.000000,1.920000,130.000000,1,no,2.0,Sometimes,1,1.000000,no,1.000000,0.0,Sometimes,Public_Transportation,Obesity_Type_II
197,1,41.000000,1.750000,118.000000,1,yes,2.0,Sometimes,0,2.000000,no,0.000000,0.0,Sometimes,Bike,Obesity_Type_II
202,0,26.000000,1.560000,102.000000,1,yes,3.0,Sometimes,1,1.000000,no,0.000000,1.0,Sometimes,Public_Transportation,Obesity_Type_III
210,1,20.000000,1.800000,114.000000,1,yes,2.0,Frequently,0,2.000000,no,0.000000,1.0,no,Public_Transportation,Obesity_Type_II
344,1,18.000000,1.870000,173.000000,1,yes,3.0,Frequently,0,2.000000,no,2.000000,1.0,Sometimes,Public_Transportation,Obesity_Type_III
403,0,26.000000,1.660000,112.000000,1,no,3.0,Sometimes,0,3.000000,no,0.000000,0.0,no,Automobile,Obesity_Type_III
498,0,25.196214,1.686306,104.572712,1,yes,3.0,Sometimes,0,1.152736,no,0.319156,1.0,Sometimes,Public_Transportation,Obesity_Type_III
499,0,18.503343,1.683124,126.673780,1,yes,3.0,Sometimes,0,1.115967,no,1.541072,1.0,Sometimes,Public_Transportation,Obesity_Type_III

In [29]:
#make new dataframe

obesitydf = pd.DataFrame()

obesitydf = obesitydf.assign(male=obesity1.Gender.sum(),
                             avg_age=obesity1.Age.mean(),
                             avg_height=obesity1.Height.mean(),
                             smoker=obesity1.SMOKE.sum(),
                             total=obesity1.Obesity_Level.count(),
                             obesity_in_family=obesity1.family_history_with_overweight.sum())

obesitydf.head()

,male,avg_age,avg_height,smoker,total,obesity_in_family
Obesity_Level,,,,,,
Insufficient_Weight,99,19.783237,1.691117,1,272,126
Normal_Weight,146,21.738676,1.676585,13,287,155
Obesity_Type_I,195,25.884941,1.693804,6,351,344
Obesity_Type_II,295,28.233785,1.771795,15,297,296
Obesity_Type_III,1,23.495554,1.687559,1,324,324

In [30]:
#calculate percentage of male, smoker, and obesity in family

obesitydf = obesitydf.assign(male_perc = lambda x: (x['male']/x['total']),
                             smoker_perc = lambda x: (x['smoker']/x['total']),
                             family_history = lambda x: (x['obesity_in_family']/x['total']))

obesitydf.head()

,male,avg_age,avg_height,smoker,total,obesity_in_family,male_perc,smoker_perc,family_history
Obesity_Level,,,,,,,,,
Insufficient_Weight,99,19.783237,1.691117,1,272,126,0.363971,0.003676,0.463235
Normal_Weight,146,21.738676,1.676585,13,287,155,0.508711,0.045296,0.540070
Obesity_Type_I,195,25.884941,1.693804,6,351,344,0.555556,0.017094,0.980057
Obesity_Type_II,295,28.233785,1.771795,15,297,296,0.993266,0.050505,0.996633
Obesity_Type_III,1,23.495554,1.687559,1,324,324,0.003086,0.003086,1.000000

In [31]:
#delete previous columns
obesitydf = obesitydf.drop(columns=['male','smoker','obesity_in_family'])

obesitydf.head()

,avg_age,avg_height,total,male_perc,smoker_perc,family_history
Obesity_Level,,,,,,
Insufficient_Weight,19.783237,1.691117,272,0.363971,0.003676,0.463235
Normal_Weight,21.738676,1.676585,287,0.508711,0.045296,0.540070
Obesity_Type_I,25.884941,1.693804,351,0.555556,0.017094,0.980057
Obesity_Type_II,28.233785,1.771795,297,0.993266,0.050505,0.996633
Obesity_Type_III,23.495554,1.687559,324,0.003086,0.003086,1.000000

### Function

In [32]:
#make function

def obesityfactors(x):
    obesity1 = x.groupby(['Obesity_Level'])
    factor = pd.DataFrame()
    factor = factor.assign(male=obesity1.Gender.sum(),
                             avg_age=obesity1.Age.mean(),
                             avg_height=obesity1.Height.mean(),
                             smoker=obesity1.SMOKE.sum(),
                             total=obesity1.Obesity_Level.count(),
                             obesity_in_family=obesity1.family_history_with_overweight.sum())
    factor = factor.assign(male_perc = lambda x: (x['male']/x['total']),
                             smoker_perc = lambda x: (x['smoker']/x['total']),
                             family_history = lambda x: (x['obesity_in_family']/x['total']))
    factor = factor.drop(columns=['male','smoker','obesity_in_family'])

    
    return factor

print(obesityfactors(obesity))

                       avg_age  avg_height  total  male_perc  smoker_perc  \
Obesity_Level
Insufficient_Weight  19.783237    1.691117    272   0.363971     0.003676
Normal_Weight        21.738676    1.676585    287   0.508711     0.045296
Obesity_Type_I       25.884941    1.693804    351   0.555556     0.017094
Obesity_Type_II      28.233785    1.771795    297   0.993266     0.050505
Obesity_Type_III     23.495554    1.687559    324   0.003086     0.003086
Overweight_Level_I   23.417674    1.687836    290   0.500000     0.010345
Overweight_Level_II  26.996981    1.703748    290   0.644828     0.017241

                     family_history
Obesity_Level
Insufficient_Weight        0.463235
Normal_Weight              0.540070
Obesity_Type_I             0.980057
Obesity_Type_II            0.996633
Obesity_Type_III           1.000000
Overweight_Level_I         0.720690
Overweight_Level_II        0.937931

/tmp/ipykernel_841/2304517240.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  obesity1 = x.groupby(['Obesity_Level'])

From the above dataframe, it seems that with increased obesity levels, there is not one exact factor that also increases.

## Question 2

### What factors in cereal have a negative relationship with its rating?

### Pseudo Code
- keep necessary columns
- make new column to rank cereal based off of ratings
- group by rankings, find averages for each factor

### Code

In [33]:
cereal = pd.read_csv("/workspaces/DS-3021/data/cereal.csv")
print(cereal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB
None

In [34]:
cereal1 = cereal.drop(columns=['shelf', 'weight', 'cups', 'type', 'mfr'])

cereal1.head()

,name,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,rating
0,100% Bran,70,4,1,130,10.0,5.0,6,280,25,68.402973
1,100% Natural Bran,120,3,5,15,2.0,8.0,8,135,0,33.983679
2,All-Bran,70,4,1,260,9.0,7.0,5,320,25,59.425505
3,All-Bran with Extra Fiber,50,4,0,140,14.0,8.0,0,330,25,93.704912
4,Almond Delight,110,2,2,200,1.0,14.0,8,-1,25,34.384843

In [35]:
cereal1 = cereal1.sort_values(by='rating', ascending= False)

cereal1.head()

,name,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,rating
3,All-Bran with Extra Fiber,50,4,0,140,14.0,8.0,0,330,25,93.704912
64,Shredded Wheat 'n'Bran,90,3,0,0,4.0,19.0,0,140,0,74.472949
65,Shredded Wheat spoon size,90,3,0,0,3.0,20.0,0,120,0,72.801787
0,100% Bran,70,4,1,130,10.0,5.0,6,280,25,68.402973
63,Shredded Wheat,80,2,0,0,3.0,16.0,0,95,0,68.235885

In [36]:
cereal1['rank'] = np.where(cereal1['rating'] > 75, 'very good', np.where(cereal1['rating'] > 55, 'good', np.where(cereal1['rating'] > 40, 'average', 'bad')))
cereal1['rank'] = cereal1['rank'].astype("category")

cereal1.head()

,name,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,rating,rank
3,All-Bran with Extra Fiber,50,4,0,140,14.0,8.0,0,330,25,93.704912,very good
64,Shredded Wheat 'n'Bran,90,3,0,0,4.0,19.0,0,140,0,74.472949,good
65,Shredded Wheat spoon size,90,3,0,0,3.0,20.0,0,120,0,72.801787,good
0,100% Bran,70,4,1,130,10.0,5.0,6,280,25,68.402973,good
63,Shredded Wheat,80,2,0,0,3.0,16.0,0,95,0,68.235885,good

In [ ]:
cereal2=cereal1.groupby(['rank'])
cereal2.head()

/tmp/ipykernel_841/3444852927.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  cereal2=cereal1.groupby(['rank'])

,name,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,rating,rank
3,All-Bran with Extra Fiber,50,4,0,140,14.0,8.0,0,330,25,93.704912,very good
64,Shredded Wheat 'n'Bran,90,3,0,0,4.0,19.0,0,140,0,74.472949,good
65,Shredded Wheat spoon size,90,3,0,0,3.0,20.0,0,120,0,72.801787,good
0,100% Bran,70,4,1,130,10.0,5.0,6,280,25,68.402973,good
63,Shredded Wheat,80,2,0,0,3.0,16.0,0,95,0,68.235885,good
20,Cream of Wheat (Quick),100,3,0,80,1.0,21.0,0,-1,0,64.533816,good
43,Maypo,100,4,1,0,0.0,16.0,3,95,25,54.850917,average
33,Grape-Nuts,110,3,0,170,3.0,17.0,3,90,25,53.371007,average
9,Bran Flakes,90,3,0,210,5.0,13.0,5,190,25,53.313813,average
67,Special K,110,6,0,230,1.0,16.0,3,55,25,53.131324,average
32,Grape Nuts Flakes,100,3,1,140,3.0,15.0,5,85,25,52.076897,average
59,Raisin Nut Bran,100,3,2,140,2.5,10.5,8,140,25,39.703400,bad
58,Raisin Bran,120,3,1,210,5.0,14.0,12,240,25,39.259197,bad
40,Kix,110,2,1,260,0.0,21.0,3,40,25,39.241114,bad
72,Triples,110,2,1,250,0.0,21.0,3,60,25,39.106174,bad
69,Total Corn Flakes,110,2,1,200,0.0,21.0,3,35,100,38.839746,bad

In [40]:
cereal3 = pd.DataFrame()

cereal3 = cereal3.assign(calories_avg=cereal2.calories.mean(),
                         protein_avg=cereal2.protein.mean(),
                         fat_avg=cereal2.fat.mean(),
                         sodium_avg=cereal2.sodium.mean(),
                         fiber_avg=cereal2.fiber.mean(),
                         carb_avg=cereal2.carbo.mean(),
                        sugar_avg=cereal2.sugars.mean(),
                        potass_avg=cereal2.potass.mean(),
                        vitamins_avg=cereal2.vitamins.mean(),
)

cereal3.head()

,calories_avg,protein_avg,fat_avg,sodium_avg,fiber_avg,carb_avg,sugar_avg,potass_avg,vitamins_avg
rank,,,,,,,,,
average,106.296296,3.074074,0.962963,191.851852,2.285185,15.888889,4.444444,98.148148,29.629630
bad,117.297297,2.081081,1.351351,170.810811,1.297297,13.891892,10.324324,81.324324,32.432432
good,80.833333,2.666667,0.166667,54.583333,3.500000,14.416667,2.583333,117.416667,12.500000
very good,50.000000,4.000000,0.000000,140.000000,14.000000,8.000000,0.000000,330.000000,25.000000

### Function

In [42]:
def cereal_fact(x):
    cereal1 = cereal.drop(columns=['shelf', 'weight', 'cups', 'type', 'mfr'])
    cereal1 = cereal1.sort_values(by='rating', ascending= False)
    cereal1['rank'] = np.where(cereal1['rating'] > 75, 'very good', np.where(cereal1['rating'] > 55, 'good', np.where(cereal1['rating'] > 40, 'average', 'bad')))
    cereal1['rank'] = cereal1['rank'].astype("category")
    cereal2=cereal1.groupby(['rank'])
    cereal3 = pd.DataFrame()

    cereal3 = cereal3.assign(calories_avg=cereal2.calories.mean(),
                         protein_avg=cereal2.protein.mean(),
                         fat_avg=cereal2.fat.mean(),
                         sodium_avg=cereal2.sodium.mean(),
                         fiber_avg=cereal2.fiber.mean(),
                         carb_avg=cereal2.carbo.mean(),
                        sugar_avg=cereal2.sugars.mean(),
                        potass_avg=cereal2.potass.mean(),
                        vitamins_avg=cereal2.vitamins.mean(),
                        )
    return cereal3

print(cereal_fact(cereal))

           calories_avg  protein_avg   fat_avg  sodium_avg  fiber_avg  \
rank
average      106.296296     3.074074  0.962963  191.851852   2.285185
bad          117.297297     2.081081  1.351351  170.810811   1.297297
good          80.833333     2.666667  0.166667   54.583333   3.500000
very good     50.000000     4.000000  0.000000  140.000000  14.000000

            carb_avg  sugar_avg  potass_avg  vitamins_avg
rank
average    15.888889   4.444444   98.148148     29.629630
bad        13.891892  10.324324   81.324324     32.432432
good       14.416667   2.583333  117.416667     12.500000
very good   8.000000   0.000000  330.000000     25.000000

/tmp/ipykernel_841/2381708014.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  cereal2=cereal1.groupby(['rank'])